section {
  padding: 2rem 0;
}

.hero {
  padding-bottom: 3rem;

  a {
    color: $orange;
    margin-top: 1.5rem;
    background: linear-gradient(#fff, #fff) no-repeat scroll 0px 82% / 0.05em 1px, linear-gradient(#fff, #fff) no-repeat scroll 100% 82% / 0.05em 1px, linear-gradient($orange, $orange) repeat-x scroll 0px 82% / 1px 1px transparent;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6;
  }

  .post-title {
    font-weight: bold;
  }
}

.post-hero {
  text-align: center;

  h1 {
    margin-bottom: 0.5rem;
    pointer-events: none;
  }

  .date {
    font-size: 11.57px;
    color: $grey;
    margin-bottom: 3rem;
  }

  h4 {
    margin-bottom: 2rem;
  }
}

.faq {
  a {
    color: $black;
  }

  p:first-child {
    margin-top: 0;
  }
}

.footer__emoji {
  text-align: center;
}
